
@font-face {
    font-family: 'icon-font';
    src:  url('/public/static/fonts/global.eot?yfepks');
    src:  url('/public/static/fonts/global.eot?yfepks#iefix') format('embedded-opentype'),
        url('/public/static/fonts/global.ttf?yfepks') format('truetype'),
        url('/public/static/fonts/global.woff?yfepks') format('woff'),
        url('/public/static/fonts/global.svg?yfepks#global') format('svg');
    font-weight: normal;
    font-style: normal;
}
